.cellier{
    border: black 1px solid;
    width: 300px;
    margin: 10px;
}

.cellier__top{
    position: relative;
}

.cellier__pastille{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    border: 1px gray solid;
}