main {
    padding-inline: min(3%, 20px);
}

.sr-only {
    display: none;
}

h2 {
    font-family: var(--ff-primary);
    padding-bottom: 6px;
    border-bottom: 1px double var(--clr-primary-400);
    margin-bottom: 36px;
}
