.primary-header {
    padding-bottom: 24px;
}

.primary-header :where(.container) {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    list-style: none;

    background: hsl(0, 0%, 100%, 0.5);
}

.mobile-nav-toggle {
    display: none;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(89, 45%, 54%, 0.6);
        backdrop-filter: blur(1rem);
    }
}

@media screen and (max-width: 50em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        
        flex-direction: column;
        padding: min(30vh, 7rem);
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(../img/icons8-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        right: 2rem;
        border: none;
        background-color: transparent;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/icons8-effacer.svg");
    }

}

@media (min-width: 50rem) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }
}

.primary-navigation[data-js-primary-navigation="true"] {
    transform: translateX(0%)
}

.primary-navigation a {
    display: inline-block;
    text-decoration: none;
    font-family: var(--ff-body);
    color: var(--clr-neutral-100);
}

.primary-navigation a:hover:not(.active>a) {
    scale: 1.2;
}

.active>a {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    color: var(--clr-neutral-900);
}

.logo {
    height: 80px;
    margin: 2rem;
}

.title {
    text-align: center;
    font-family: var(--ff-heading);
}